@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@media screen and (min-width:990.1px) {

    .icns {
        margin-left: 36% !important;
    }
}

@media screen and (max-width:350px){
    .topo {
        font-size: 30px;
        width: 100% !important;
        margin-left: 10% !important;

    }

    .btst {
        margin-top: 5%;
    }

    .p {width: 80%; margin-left: 10%; margin-top: 5%; font-size: 16px;}
    
    .Image {
        width: 90% !important;
        margin-right: 5% !important;
        margin-top: 3% !important;
    }

    .nav-link {
        color: #0a1f4e !important;
        /*
        margin-left: -200% !important; */
        margin-left: 0 !important;
        text-align: center !important; 
    }
    
    .botao {
        width: 50%;
        margin-top: 5% !important;
        margin-left: 23% !important;
    }
    
    #tit {
        font-size: 40px !important;
        width: 100%;
        margin-top: 6%;
        margin-left: 10% !important;
    }
    
    .navbar-nav {
        margin-right: 20%;
        margin-top: -30%;
    }
    .footer {
        width: 110% !important;
    }

    li {
        background-color: white;
        width: 65%;
        padding: 5%;
    }

    .pf {
        width: 100% !important;
        font-size: 16px;
        margin-right: 10% !important;
    }

    .rm {
        display: none;
    }
    
*{
    box-sizing: border-box;
    margin: 0%;
}

}

@media screen and (min-width: 750px) and (max-width:990px){

    .topo {
        margin-left: 31% !important;
    }

    .h6{
        margin-left: 6% !important;
    }

    li {
        background-color: white;
        width: 65%;
        padding: 5%;
        margin-left: 75%  !important;
        margin-top: -20% !important;
    }

    .nav-link {
        color: #0a1f4e !important;
        margin-left: -200%  !important;
    }

    .footer p{
        text-align: center !important;
    }

    .aside{
        margin-left: 50px;
    }

    #tit {
        margin-left: 17% !important;
        margin-top: -8% !important;
        padding: 50px;
    }
    .botao {
        margin-left: 10.5% !important;
    }

    .Image {
        width: 50% !important;
        margin-top: -55% !important;
        margin-right: 5% !important;
    }
    .pf {
        width: 100% !important;
        text-align: center;
        font-size: 16px;
    }

    .rm {
        display: none;
    }
}

*{
    box-sizing: border-box;
}

body{
    margin: 0%;
    font-family: 'Open Sans' sans-serif;
    background-color: #feecd4;
    overflow-x: hidden;
}

.Image{
   /* width: 30%;
    margin-top: -20%;
    margin-right: 13%; */

    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: white;
}

#tit {
    margin-left: 8%;
    margin-top: 12%;
}

p {
    font-size: 18px;
    width: 40%;
}

aside {
    margin-top: 7%;
}

.links{
    padding: 50px;
}

.links a:hover{
    color: #f54e51 !important;

    border-top: solid 5px #0a1f4e;
}

.navbar {
   /* display: flex;
    flex-flow: row wrap;
    height: 125px;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2%; */
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 5%;
}

.topo{
    /*margin-left: 160px;*/
        margin-left: 10%;
}


