@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Reset básico */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #feecd4;
    overflow-x: hidden;
    margin: 0;
}

/* Imagens */
.Image {
    width: 100%; /* Adaptação para ocupar todo o espaço disponível */
    max-width: 400px; /* Limitar o tamanho máximo */
    margin: 0 auto; /* Centraliza a imagem */
    display: block; /* Garante o alinhamento */
    height: auto;
}

/* Responsividade */
@media screen and (max-width: 990px) {
    .Image {
        width: 80%; /* Reduz o tamanho proporcionalmente */
        max-width: 300px;
    }
}

@media screen and (max-width: 600px) {
    .Image {
        width: 90%;
        max-width: 250px;
    }
}

/* Títulos e parágrafos */
#tit {
    text-align: center; /* Centraliza o texto */
    font-size: 2rem;
    margin: 1rem 0;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    margin: 1rem auto;
    width: 80%; /* Centralizado e com largura proporcional */
    text-align: justify; /* Texto alinhado */
}

/* Botões */
.botao {
    display: block;
    margin: 2rem auto;
    padding: 0.5rem 1rem;
    background-color: #f54e51;
    color: white;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    max-width: 200px;
}

.botao:hover {
    background-color: #c44444;
}
